@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-input: rgb(192, 201, 155);

  --text-button: #fff;

  --bg-transparent: rgba(0, 0, 0, 0.3);
  --bg-dark: rgba(34, 34, 34, 0.8);
  --bg-light: rgba(209, 209, 209, 0.2);
  --bg-hl: rgba(240, 253, 122, 0.5);
  --text-color: #ccc;
  --text-color-hover: rgb(240, 253, 122);
  --text-color-dark: rgb(43, 43, 43);

  --border-color: #ccc;
  --border-color-dark: var(--bg-dark);

  --border: 0.2rem solid var(--border-color);
  --border-dark: 0.2rem solid var(--border-color-dark);

  --bg-odd: #dab07e;
}
html {
  font-size: 16px;
  color: var(--text-color);
  @media only screen and (max-width: 1000px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
